@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.progress-bar-container {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  margin-bottom: 1rem;
 
  
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #007bff;
  border-radius: 5px;

  transition: width 0.5s ease-in-out;
}

.progress-bar-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #ffffff;
}

  .button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .simple-link {
    position: absolute;
    top: 7%;
    left:90%;
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
  }
  .donate-button,
  .details-button {
    padding: 0.5rem 1rem;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .donate-button {
    background-color: #28a745;
  }
  
  .donate-button:hover {
    background-color: #218838;
  }
  
  .details-button {
    background-color: #007bff;
  }
  
  .details-button:hover {
    background-color: #0056b3;
  }
  
  
  .small-box a {
    color: #1da1f2;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  
  .small-box a:hover {
    color: #0a7bc2;
  }
  

  #buttons-within {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

.requests-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .big-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
 
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    width: 75%;
    padding-right: 4rem;
  }
  
  .small-box {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 1rem;
    width: 100%;
    min-height: 200px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  #id {
    position: absolute;
    top: 4%;
    left: 3%;
    /* add any other styling properties you need */
  }
  #time_left {
    position: absolute;
    top: 67%;
    left:90%;
    /* add any other styling properties you need */
  }
  
  
  
  .small-box button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #169851;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  input[type="text"]::placeholder {
    text-align: center;
    font-size: 14px;
    color: #999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .small-box button:hover {
    background-color: #0056b3;
  }

  
  .popup {
    position: fixed;
    top: 5%;
    left: 10%;
    right: 10%;
    bottom: 5%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Adjust the content and close button spacing */
  }
  
  .small-box, .popup {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .small-box p, .popup p {
    font-size: 1rem;
    font-weight: normal;
  }
  
  .small-box button, .popup button {
    font-size: 1rem;
    font-weight: normal;
  }
  
  
  .popup button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .popup button:hover {
    background-color: #c82333;
  }
  .popup-content {
    max-height: 80vh;
  
    overflow: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 90%;
  }
  